*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 106, 205);
    color:white;
}
#imagen{
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
}
#chip{
    background-image: url(../img/chip.png) ;
    width: 68px;
    height: 52px;
    background-size: cover;
    margin-top: 60px;
}
#logoBanco{
    background-image: url(../img/logobanco.png);
    width: 250px;
    height: 40px;
    background-size: cover;
    margin-left: 160px;
    margin-top: 20px;
}
.tarjeta{
    display: block;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 10px 20px 0 20px;
    box-sizing: border-box;
    background: rgb(197, 34, 170);
    background: radial-gradient(circle,
    rgb(44, 44, 44)1%
    rgb(51, 50, 50)100%);
    margin: 100px auto;
    box-shadow: 0 5px 10px rgb(234, 0, 255);
}
.tarjeta input{
    font-size: 28px;
    padding: 10px;
    border: solid 2px rgb(255, 0, 140);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: transparent;
    margin-top: 10px;
    outline: none;
}
.tarjeta #inputTarjeta::before{
    content: "Card Number";
    position: relative;
    width: 100px;
    height: 100px;
}
.propietario{
    display: grid;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 15px;
}
.tarjeta #inputFecha{
    width: 80px;

}
.tarjeta #inputCVV{
    width: 50px;
}
#masterlogo{
    background-image: url(../img/master.png);
    width: 88px;
    height: 68px;
    background-size: cover;
    margin: -77px 0px 0px 370px;
}